.player__container {
    display: flex;
    justify-content: space-around;

}
.player {
    display: flex;
    flex-direction: column;
}

.player__label {
    font-size: 5rem;
}

.player__input {
    width: 40rem;
    height: 4rem;
    border: 0.33rem solid #000080;
    border-radius: 1rem;
    font-size: 2rem;
}

.score {
    font-size: 10rem;
    color: yellow;
}